## Análisis de bullying en colegios secundarios de Argentina

Se analiza un cuestionario autoadministrado de 72 preguntas a alumnos de entre 11 y 18 años de edad. 
Engloba los siguientes aspectos:
- edad
- género
- alimentación
- lesiones graves
- intimidación
- seguridad vial
- amistades
- tabaquismo
- alcoholismo
- drogas
- sexualidad
- actividad física
- tiempo libre,
- vinculo familiar

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
bullying = pd.read_csv("EMSE_DatosAbiertos.csv")

In [3]:
bullying.info

<bound method DataFrame.info of       sitio  record   q1 texto_q1   q2   texto_q2   q3  \
0        AG       1  3.0  13 años  2.0   Femenino  2.0
1        AG       2  3.0  13 años  2.0   Femenino  2.0
2        AG       3  4.0  14 años  1.0  Masculino  4.0
3        AG       4  6.0  16 años  1.0  Masculino  2.0
4        AG       5  3.0  13 años  2.0   Femenino  2.0
...     ...     ...  ...      ...  ...        ...  ...
56976    AG   57091  6.0  16 años  1.0  Masculino  5.0
56977    AG   57092  6.0  16 años  1.0  Masculino  5.0
56978    AG   57093  6.0  16 años  1.0  Masculino  NaN
56979    AG   57094  6.0  16 años  2.0   Femenino  5.0
56980    AG   57095  6.0  16 años  2.0   Femenino  5.0

                                                texto_q3    q4    q5  ...  \
0      9no grado nivel Primario/Polimodal o 2do año n...   NaN   NaN  ...
1      9no grado nivel Primario/Polimodal o 2do año n...   NaN   NaN  ...
2      2do año/11vo grado nivel Polimodal o 4to año n...  1.67  56.0  ...
3      9no grado nivel Primario/Polimodal o 2do año n...  1.73  70.0  ...
4      9no grado nivel Primario/Polimodal o 2do año n...   NaN   NaN  ...
...                                                  ...   ...   ...  ...
56976  3er año/12vo grado nivel Polimodal o 5to año n...  1.78  86.0  ...
56977  3er año/12vo grado nivel Polimodal o 5to año n...   NaN   NaN  ...
56978                                       Dato perdido   NaN   NaN  ...
56979  3er año/12vo grado nivel Polimodal o 5to año n...   NaN   NaN  ...
56980  3er año/12vo grado nivel Polimodal o 5to año n...  1.65  56.0  ...

       texto_qnpa5g qnpa7g  texto_qnpa7g qnpe3g  texto_qnpe3g qnpe5g  \
0                Si    1.0            Si    2.0            No    2.0
1                Si    2.0            No    2.0            No    2.0
2                Si    2.0            No    2.0            No    2.0
3                No    2.0            No    1.0            Si    1.0
4                No    2.0            No    2.0            No    2.0
...             ...    ...           ...    ...           ...    ...
56976            Si    1.0            Si    1.0            Si    2.0
56977            No    2.0            No    1.0            Si    1.0
56978            Si    2.0            No    2.0            No    2.0
56979            No    2.0            No    2.0            No    2.0
56980            No    2.0            No    1.0            Si    1.0

       texto_qnpe5g  weight    stratum psu
0                No  457.09  201801010  19
1                No  457.09  201801010  19
2                No  261.44  201801010  19
3                Si  550.90  201801010  19
4                No  457.09  201801010  19
...             ...     ...        ...  ..
56976            No   48.28  201824003   5
56977            Si   48.28  201824003   5
56978            No   48.28  201824003   5
56979            No   52.08  201824003   5
56980            Si   52.08  201824003   5

[56981 rows x 309 columns]>

In [4]:
bullying.describe()

,record,q1,q2,q3,q4,q5,q6,q10,q15,q16,...,qnnotb2g,qnbcanyg,qnc1g,qnpa5g,qnpa7g,qnpe3g,qnpe5g,weight,stratum,psu
count,56981.000000,56873.000000,56445.000000,55920.000000,36052.000000,36052.000000,56482.000000,56771.000000,56741.000000,56713.000000,...,55908.000000,19735.000000,19696.000000,55551.000000,55551.000000,55032.000000,55032.000000,56981.000000,5.698100e+04,56981.000000
mean,28535.389832,4.905403,1.520188,3.064485,1.642857,60.212193,1.460448,1.802734,1.361573,1.496447,...,1.208968,1.089891,1.330575,1.701932,1.828428,1.633431,1.687237,46.288166,2.018129e+08,12.438234
std,16479.971553,1.358115,0.499597,1.324451,0.096898,14.723909,0.764121,1.451475,1.079432,1.211089,...,0.406575,0.286033,0.470432,0.457414,0.377011,0.481872,0.463623,80.162741,7.068990e+03,9.378964
min,1.000000,1.000000,1.000000,1.000000,1.200000,27.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.120000,2.018010e+08,1.000000
25%,14263.000000,4.000000,1.000000,2.000000,1.570000,51.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,14.420000,2.018070e+08,6.000000
50%,28522.000000,5.000000,2.000000,3.000000,1.640000,58.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,26.370000,2.018130e+08,11.000000
75%,42804.000000,6.000000,2.000000,4.000000,1.700000,66.000000,2.000000,2.000000,1.000000,1.000000,...,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,44.780000,2.018200e+08,17.000000
max,57095.000000,8.000000,2.000000,5.000000,2.030000,187.000000,5.000000,8.000000,8.000000,8.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1192.430000,2.018240e+08,57.000000

In [5]:
bullying.shape

(56981, 309)

In [14]:
cols=bullying.columns
print(cols)

Index(['sitio', 'record', 'q1', 'texto_q1', 'q2', 'texto_q2', 'q3', 'texto_q3',
       'q4', 'q5',
       ...
       'texto_qnpa5g', 'qnpa7g', 'texto_qnpa7g', 'qnpe3g', 'texto_qnpe3g',
       'qnpe5g', 'texto_qnpe5g', 'weight', 'stratum', 'psu'],
      dtype='object', length=309)

In [30]:
for col in cols:
    print("La columna \"", col, "\" tiene valores: ", bullying[col].unique())

La columna " sitio " tiene valores:  ['AG']
La columna " record " tiene valores:  [    1     2     3 ... 57093 57094 57095]
La columna " q1 " tiene valores:  [ 3.  4.  6.  2.  5.  1.  7. nan  8.]
La columna " texto_q1 " tiene valores:  ['13 años' '14 años' '16 años' '12 años' '15 años' '11 años o menos'
 '17 años' nan '18 años o más']
La columna " q2 " tiene valores:  [ 2.  1. nan]
La columna " texto_q2 " tiene valores:  ['Femenino' 'Masculino' 'Dato perdido']
La columna " q3 " tiene valores:  [ 2.  4. nan  3.  5.  1.]
La columna " texto_q3 " tiene valores:  ['9no grado nivel Primario/Polimodal o 2do año nivel Secundario'
 '2do año/11vo grado nivel Polimodal o 4to año nivel Secundario'
 'Dato perdido'
 '1er año/10mo grado nivel Polimodal o 3er año nivel Secundario'
 '3er año/12vo grado nivel Polimodal o 5to año nivel Secundario'
 '8vo grado nivel Primario/Polimodal  o 1er año nivel Secundario']
La columna " q4 " tiene valores:  [ nan 1.67 1.73 1.72 1.64 1.5  1.62 1.66 1.76 1.57 1.71 1.68 1.6  1.53
 1.48 1.49 1.63 1.58 1.75 1.65 1.56 1.69 1.59 1.44 1.7  1.8  1.74 1.77
 1.55 1.83 1.52 1.51 1.78 1.84 1.82 1.54 1.9  1.43 1.38 1.45 1.42 1.86
 1.85 1.79 1.61 1.3  1.47 1.97 1.81 1.4  1.92 1.87 1.88 1.98 1.46 1.91
 1.35 1.32 1.93 1.95 1.33 1.89 1.21 1.25 1.41 1.37 1.36 2.   1.34 1.31
 1.94 1.99 1.39 1.27 1.2  1.96 1.26 1.28 1.23 2.03]
La columna " q5 " tiene valores:  [ nan  56.  70.  48.  45.  40.  52.  92.  47.  62.  68.  59.  41.  60.
  53.  51.  58.  32.  54.  44.  49.  75.  50.  55.  61. 122.  73.  82.
  81.  72.  63.  76.  43.  57.  67.  84.  42.  46.  64.  69.  74.  71.
 105.  85.  65.  66.  39.  78.  99.  83.  98.  38. 135. 146.  35.  80.
  95.  86. 100.  97. 158.  88.  36. 120.  90. 163.  94.  79.  87. 103.
  77.  91.  33. 169. 155.  89.  37. 112. 102. 108.  93.  31. 101. 156.
 119. 168. 148.  34. 110. 145.  96. 125. 117. 141. 136. 106. 164. 154.
 160.  30. 149. 174. 153. 140. 150. 175. 157. 130. 132. 172. 104. 114.
 152.  28. 118. 165. 131. 123. 166. 161. 151. 180. 109. 115. 170. 143.
 113. 128.  29. 162. 127. 116. 144. 107. 121. 133. 111. 171. 167. 137.
 147. 178. 126. 124. 187. 142. 129. 138.  27. 139. 159.]
La columna " q6 " tiene valores:  [ 2.  1.  3.  4.  5. nan]
La columna " texto_q6 " tiene valores:  ['Rara vez' 'Nunca' 'Algunas veces' 'Casi siempre' 'Siempre'
 'Dato perdido']
La columna " q10 " tiene valores:  [ 1.  4.  3.  6.  5.  2. nan  7.  8.]
La columna " texto_q10 " tiene valores:  ['0 días' '3 días' '2 días' '5 días' '4 días' '1 día' 'Dato perdido'
 '6 días' '7 días']
La columna " q15 " tiene valores:  [ 1.  2.  8.  3.  4.  6.  7.  5. nan]
La columna " texto_q15 " tiene valores:  ['Ninguna' '1 vez' '12 o más veces' '2 o 3 veces' '4 o 5 veces'
 '8 o 9 veces' '10 u 11 veces' '6 o 7 veces' 'Dato perdido']
La columna " q16 " tiene valores:  [ 1.  3.  2.  4.  6. nan  5.  8.  7.]
La columna " texto_q16 " tiene valores:  ['Ninguna' '2 o 3 veces' '1 vez' '4 o 5 veces' '8 o 9 veces'
 'Dato perdido' '6 o 7 veces' '12 o más veces' '10 u 11 veces']
La columna " q17 " tiene valores:  [ 1.  3. nan  2.  4.  7.  6.  5.  8.]
La columna " texto_q17 " tiene valores:  ['Ninguna' '2 o 3 veces' 'Dato perdido' '1 vez' '4 o 5 veces'
 '10 u 11 veces' '8 o 9 veces' '6 o 7 veces' '12 o más veces']
La columna " q18 " tiene valores:  [ 1.  2. nan  8.  4.  3.  6.  5.  7.]
La columna " texto_q18 " tiene valores:  ['No tuve ninguna lesión seria o grave en los últimos 12 meses'
 'Tuve un hueso roto o una articulación dislocada' 'Dato perdido'
 'Me sucedió otra cosa'
 'Sufrí un golpe u otra lesión en la cabeza o el cuello, me desmayé o no podía respirar'
 'Recibí un corte, una punzada o puñalada' 'Sufrí una quemadura grave'
 'Recibí una herida con arma de fuego'
 'Perdí todo o parte de un pie, pierna, mano o brazo']
La columna " q19 " tiene valores:  [nan  1.  8.  3.  4.  7.  5.  2.  6.]
La columna " texto_q19 " tiene valores:  ['Dato perdido'
 'No sufrí ninguna lesión seria o grave durante los últimos 12 meses'
 'Otra cosa causó mi lesión' 'Me caí' 'Algo me cayó encima o me golpeó'
 'Inhalé o tragué algo que me hizo mal'
 'Fui atacado, agredido, abusado o estaba peleando con alguien'
 'Tuve un accidente automovilístico o me atropelló un vehículo a motor'
 'Estuve en un incendio o me acerqué demasiado a una llama o algo caliente']
La columna " q22 " tiene valores:  [ 5.  1.  2.  3.  4. nan]
La columna " texto_q22 " tiene valores:  ['Siempre' 'Nunca' 'Rara vez' 'Algunas veces' 'Casi siempre'
 'Dato perdido']
La columna " q23 " tiene valores:  [ 5.  1.  2.  3.  4. nan]
La columna " texto_q23 " tiene valores:  ['Siempre' 'Nunca' 'Rara vez' 'Algunas veces' 'Casi siempre'
 'Dato perdido']
La columna " q24 " tiene valores:  [ 1.  2. nan]
La columna " texto_q24 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " q25 " tiene valores:  [ 2.  1. nan]
La columna " texto_q25 " tiene valores:  ['No' 'Si' 'Dato perdido']
La columna " q26 " tiene valores:  [ 1.  2.  4.  5.  3. nan]
La columna " texto_q26 " tiene valores:  ['0 veces' '1 vez' '4 o 5 veces' '6 o más veces' '2 o 3 veces'
 'Dato perdido']
La columna " q27 " tiene valores:  [ 3.  4.  1. nan  2.]
La columna " texto_q27 " tiene valores:  ['2' '3 o más' '0' 'Dato perdido' '1']
La columna " q28 " tiene valores:  [ 2.  1. nan  3.  6.  5.  4.  7.  8.]
La columna " texto_q28 " tiene valores:  ['7 años de edad o menos' 'Nunca probé cigarrillos' 'Dato perdido'
 '8 o 9 años' '14 o 15 años' '12 o 13 años' '10 u 11 años' '16 o 17 años'
 '18 años o más']
La columna " q29 " tiene valores:  [ 7.  1. nan  3.  2.  4.  5.  6.]
La columna " texto_q29 " tiene valores:  ['Los 30 días' '0 días' 'Dato perdido' '3 a 5 días' '1 o 2 días'
 '6 a 9 días' '10 a 19 días' '20 a 29 días']
La columna " q30 " tiene valores:  [nan  1.  2.  3.  4.  6.  5.  7.]
La columna " texto_q30 " tiene valores:  ['Dato perdido' '0 días' '1 o 2 días' '3 a 5 días' '6 a 9 días'
 '20 a 29 días' '10 a 19 días' 'Los 30 días']
La columna " q31 " tiene valores:  [ 4.  1.  3. nan  2.]
La columna " texto_q31 " tiene valores:  ['No' 'Nunca fumé cigarrillos' 'Sí' 'Dato perdido'
 'No fumé cigarrillos durante los últimos 12 meses']
La columna " q32 " tiene valores:  [ 5.  2.  1. nan  3.  4.]
La columna " texto_q32 " tiene valores:  ['Los 7 días' '1 o 2 días' '0 días' 'Dato perdido' '3 o 4 días'
 '5 o 6 días']
La columna " q33 " tiene valores:  [ 2.  1.  5.  4.  3. nan]
La columna " texto_q33 " tiene valores:  ['Mi padre o mi cuidador' 'Ninguno' 'No sé' 'Ambos'
 'Mi madre o mi cuidadora' 'Dato perdido']
La columna " q34 " tiene valores:  [ 2.  1.  6.  5. nan  3.  4.  7.  8.]
La columna " texto_q34 " tiene valores:  ['7 años o menos' 'Nunca tomé alcohol más que unos pocos sorbos'
 '14 o 15 años' '12 o 13 años' 'Dato perdido' '8 o 9 años' '10 o 11 años'
 '16 o 17 años' '18 años o más']
La columna " q35 " tiene valores:  [ 7.  1.  2.  6.  5.  3.  4. nan]
La columna " texto_q35 " tiene valores:  ['Los 30 días' '0 días' '1 o 2 días' '20 a 29 días' '10 a 19 días'
 '3 a 5 días' '6 a 9 días' 'Dato perdido']
La columna " q36 " tiene valores:  [ 7.  1.  4.  3.  6.  5.  2. nan]
La columna " texto_q36 " tiene valores:  ['5 tragos o más' 'No tomé alcohol durante los últimos 30 días' '2 tragos'
 '1 trago' '4 tragos' '3 tragos' 'Menos de un trago' 'Dato perdido']
La columna " q37 " tiene valores:  [ 3.  1.  7.  2. nan  4.  5.  6.]
La columna " texto_q37 " tiene valores:  ['Le di dinero a otra persona para que lo comprara por mi'
 'No tomé alcohol durante los últimos 30 días'
 'Lo conseguí de otra manera'
 'Lo compré en un negocio, un mercado o en  la calle' 'Dato perdido'
 'Lo conseguí de mis amigos' 'Lo conseguí en mi casa' 'Lo robe']
La columna " q38 " tiene valores:  [ 1.  2.  3. nan  4.]
La columna " texto_q38 " tiene valores:  ['0 veces' '1 o 2 veces' '3 a 9 veces' 'Dato perdido' '10 o más veces']
La columna " q39 " tiene valores:  [ 4.  1.  2. nan  3.]
La columna " texto_q39 " tiene valores:  ['10 o más veces' '0 veces' '1 o 2 veces' 'Dato perdido' '3 a 9 veces']
La columna " q40 " tiene valores:  [ 1. nan  6.  5.  7.  2.  3.  4.  8.]
La columna " texto_q40 " tiene valores:  ['Nunca usé Drogas' 'Dato perdido' '14 o 15 años' '12 o 13 años'
 '16 o 17 años' '7 años o menos' '8 o 9 años' '10 o 11 años'
 '18 años o más']
La columna " q41 " tiene valores:  [ 1.  3.  2.  5.  4. nan]
La columna " texto_q41 " tiene valores:  ['0 veces' '3 a 9 veces' '1 o 2 veces' '20 veces o más' '10 a 19 veces'
 'Dato perdido']
La columna " q42 " tiene valores:  [ 1. nan  3.  4.  2.  5.]
La columna " texto_q42 " tiene valores:  ['0 veces' 'Dato perdido' '3 a 9 veces' '10 a 19 veces' '1 o 2 veces'
 '20 veces o más']
La columna " q43 " tiene valores:  [ 1. nan  2.  5.  4.  3.]
La columna " texto_q43 " tiene valores:  ['0 veces' 'Dato perdido' '1 o 2 veces' '20 veces o más' '10 a 19 veces'
 '3 a 9 veces']
La columna " q44 " tiene valores:  [ 1. nan  2.]
La columna " texto_q44 " tiene valores:  ['Si' 'Dato perdido' 'No']
La columna " q45 " tiene valores:  [ 2. nan  1.  5.  4.  3.  6.  7.  8.]
La columna " texto_q45 " tiene valores:  ['11 años o menos' 'Dato perdido' 'Nunca tuve relaciones sexuales'
 '14 años' '13 años' '12 años' '15 años' '16 o 17 años' '18 años o más']
La columna " q46 " tiene valores:  [ 7.  1.  2. nan  4.  3.  5.  6.]
La columna " texto_q46 " tiene valores:  ['6 o más personas' 'Nunca tuve relaciones sexuales' '1 persona'
 'Dato perdido' '3 personas' '2 personas' '4 personas' '5 personas']
La columna " q47 " tiene valores:  [ 3.  1.  2. nan]
La columna " texto_q47 " tiene valores:  ['No' 'Nunca tuve relaciones sexuales' 'Si' 'Dato perdido']
La columna " q48 " tiene valores:  [ 4.  1.  2. nan  3.]
La columna " texto_q48 " tiene valores:  ['No sé' 'Nunca tuve relaciones sexuales' 'Si' 'Dato perdido' 'No']
La columna " q49 " tiene valores:  [ 8.  6.  7.  5.  3.  4.  2.  1. nan]
La columna " texto_q49 " tiene valores:  ['7 días' '5 días' '6 días' '4 días' '2 días' '3 días' '1 día' '0 días'
 'Dato perdido']
La columna " q50 " tiene valores:  [ 8.  3.  6.  1.  4.  2.  5. nan  7.]
La columna " texto_q50 " tiene valores:  ['7 días' '2 días' '5 días' '0 días' '3 días' '1 día' '4 días'
 'Dato perdido' '6 días']
La columna " q51 " tiene valores:  [ 3.  1.  6.  5. nan  4.  2.]
La columna " texto_q51 " tiene valores:  ['2 días' '0 días' '5 días o más' '4 días' 'Dato perdido' '3 días' '1 día']
La columna " q52 " tiene valores:  [ 6.  2.  3.  1.  4. nan  5.]
La columna " texto_q52 " tiene valores:  ['Más de 8 horas por día' '1 a 2 horas al día' '3 a 4 horas al día'
 'Menos de 1 hora al día' '5 a 6 horas al día' 'Dato perdido'
 '7 a 8 horas al día']
La columna " q53 " tiene valores:  [ 5.  1.  4.  3. nan  2.]
La columna " texto_q53 " tiene valores:  ['10 días o más' '0 días' '6 a 9 días' '3 a 5 días' 'Dato perdido'
 '1 o 2 días']
La columna " q54 " tiene valores:  [ 1.  3.  4. nan  5.  2.]
La columna " texto_q54 " tiene valores:  ['Nunca' 'Algunas veces' 'Casi siempre' 'Dato perdido' 'Siempre'
 'Rara vez']
La columna " q55 " tiene valores:  [ 1.  3.  5.  4.  2. nan]
La columna " texto_q55 " tiene valores:  ['Nunca' 'Algunas veces' 'Siempre' 'Casi siempre' 'Rara vez'
 'Dato perdido']
La columna " q56 " tiene valores:  [ 5. nan  4.  1.  3.  2.]
La columna " texto_q56 " tiene valores:  ['Siempre' 'Dato perdido' 'Casi siempre' 'Nunca' 'Algunas veces'
 'Rara vez']
La columna " q57 " tiene valores:  [nan  5.  1.  4.  2.  3.]
La columna " texto_q57 " tiene valores:  ['Dato perdido' 'Siempre' 'Nunca' 'Casi siempre' 'Rara vez'
 'Algunas veces']
La columna " q58 " tiene valores:  [nan  1.  2.  3.  4.  5.]
La columna " texto_q58 " tiene valores:  ['Dato perdido' 'Nunca' 'Rara vez' 'Algunas veces' 'Casi siempre'
 'Siempre']
La columna " q59 " tiene valores:  [ 6.  3.  4.  2.  7. nan  1.  5.]
La columna " texto_q59 " tiene valores:  ['Terciario/Universitario completo' 'Secundario incompleto'
 'Secundario completo' 'Primaria completa' 'No sé' 'Dato perdido'
 'Primaria incompleta' 'Terciario/Universitario incompleto']
La columna " q60 " tiene valores:  [ 2.  3.  4.  1.  5.  7. nan  6.]
La columna " texto_q60 " tiene valores:  ['Primaria completa' 'Secundario incompleto' 'Secundario completo'
 'Primaria incompleta' 'Terciario/Universitario incompleto' 'No sé'
 'Dato perdido' 'Terciario/Universitario completo']
La columna " q61 " tiene valores:  [ 1.  2.  5.  4.  6.  7.  3. nan]
La columna " texto_q61 " tiene valores:  ['No comí frutas durante los últimos 7 días'
 '1 a 3 veces durante los últimos 7 días' '2 veces al día' '1 vez al día'
 '3 veces al día' '4 o más veces al día'
 '4 a 6 veces durante los últimos 7 días' 'Dato perdido']
La columna " q62 " tiene valores:  [ 1.  3.  4.  2.  7.  5.  6. nan]
La columna " texto_q62 " tiene valores:  ['No comí verduras ni hortalizas durante los últimos 7 días'
 '4 a 6 veces durante los últimos 7 días' '1 vez al día'
 '1 a 3 veces durante los últimos 7 días' '4 o más veces al día'
 '2 veces al día' '3 veces al día' 'Dato perdido']
La columna " q63 " tiene valores:  [ 6.  1.  5.  2.  3.  7.  4. nan]
La columna " texto_q63 " tiene valores:  ['3 veces al día' 'No tomé gaseosas en los últimos 7 días'
 '2 veces al día' '1 a 3 veces durante los últimos 7 días'
 '4 a 6 veces durante los últimos 7 días' '4 o más veces al día'
 '1 vez al día' 'Dato perdido']
La columna " q64 " tiene valores:  [ 1.  3.  5.  2.  7.  4.  6. nan]
La columna " texto_q64 " tiene valores:  ['No comí comida salada o snacks en los últimos 7 días'
 '4 a 6 veces durante los últimos 7 días' '2 veces al día'
 '1 a 3 veces durante los últimos 7 días' '4 o más veces al día'
 '1 vez al día' '3 veces al día' 'Dato perdido']
La columna " q65 " tiene valores:  [ 7.  2.  1.  3. nan  5.  4.  6.]
La columna " texto_q65 " tiene valores:  ['4 o más veces al día' '1 a 3 veces durante los últimos 7 días'
 'No comí comida alta en grasa en los últimos 7 días'
 '4 a 6 veces durante los últimos 7 días' 'Dato perdido' '2 veces al día'
 '1 vez al día' '3 veces al día']
La columna " q66 " tiene valores:  [ 1.  2. nan]
La columna " texto_q66 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " q67 " tiene valores:  [ 1.  2. nan]
La columna " texto_q67 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " q68 " tiene valores:  [nan  2.  1.]
La columna " texto_q68 " tiene valores:  ['Dato perdido' 'No' 'Si']
La columna " q69 " tiene valores:  [ 5.  3.  1. nan  2.  4.  6.]
La columna " texto_q69 " tiene valores:  ['Siempre' 'Algunas veces'
 'No viajé en un auto u otro vehículo u otro vehículo a motor en los últimos 30 días'
 'Dato perdido' 'Rara vez' 'La mayoría del tiempo']
La columna " q70 " tiene valores:  [ 4.  1.  2.  3.  6.  5. nan]
La columna " texto_q70 " tiene valores:  ['2 o 3 veces'
 'No viajé en un auto o vehículo manejado por otra persona en los últimos 30 días'
 '0 veces' '1 vez' '6 o más veces' '4 o 5 veces' 'Dato perdido']
La columna " q71 " tiene valores:  [ 3.  1. nan  2.  5.  4.  6.]
La columna " texto_q71 " tiene valores:  ['Rara vez' 'No maneje una bicicleta en los últimos 30 días'
 'Dato perdido' 'Nunca' 'La mayoría del tiempo' 'Algunas veces' 'Siempre']
La columna " q72 " tiene valores:  [ 2.  3.  6.  4.  1.  5. nan]
La columna " texto_q72 " tiene valores:  ['Nunca' 'Rara vez' 'Siempre' 'Algunas veces'
 'No viaje en una moto en los últimos 30 días' 'La mayoría del tiempo'
 'Dato perdido']
La columna " q73 " tiene valores:  [ 5.  7.  1.  4.  2. nan  6.  3.]
La columna " texto_q73 " tiene valores:  ['Bebidas fuertes como vodka, ginebra, whisky' 'Otro tipo'
 'Yo no tomo alcohol' 'Fernet' 'Cerveza' 'Dato perdido'
 'Gancia, Cinzano, Campari' 'Vino']
La columna " q74 " tiene valores:  [ 5.  3.  1.  2. nan  4.]
La columna " texto_q74 " tiene valores:  ['Usualmente tomo solo/a' 'Con mi familia' 'No tomo alcohol'
 'Con mis amigos' 'Dato perdido' 'Con gente que recién conocí']
La columna " q75 " tiene valores:  [ 2.  1.  3. nan]
La columna " texto_q75 " tiene valores:  ['Sí, hubo alguien que se negó a venderme alcohol por mi edad'
 'No intenté comprar alcohol en los últimos 30 días'
 'No, mi edad no impidió que me vendieran alcohol' 'Dato perdido']
La columna " q76 " tiene valores:  [ 4.  2.  1.  3. nan]
La columna " texto_q76 " tiene valores:  ['Definitivamente sí' 'Probablemente no' 'Definitivamente no'
 'Probablemente sí' 'Dato perdido']
La columna " q77 " tiene valores:  [ 4.  2.  3.  5.  1. nan]
La columna " texto_q77 " tiene valores:  ['Casi todos los días' 'Rara vez' 'Algunas veces' 'Todos los días' 'Nunca'
 'Dato perdido']
La columna " q78 " tiene valores:  [ 1.  2. nan  3.  5.  4.]
La columna " texto_q78 " tiene valores:  ['0 veces' '1 o 2 veces' 'Dato perdido' '3 a 9 veces' '20 veces o más'
 '10 a 19 veces']
La columna " q79 " tiene valores:  [ 3.  1. nan  2.  4.]
La columna " texto_q79 " tiene valores:  ['2 o más veces' '0 veces' 'Dato perdido' '1 vez' 'No lo sé']
La columna " q80 " tiene valores:  [nan  1.  2.  3.  4.  5.]
La columna " texto_q80 " tiene valores:  ['Dato perdido' 'Nunca' 'Rara vez' 'Algunas veces' 'Casi siempre'
 'Siempre']
La columna " q81 " tiene valores:  [nan  3.  5.  2.  4.  1.]
La columna " texto_q81 " tiene valores:  ['Dato perdido' 'Algunas veces' 'Siempre' 'Rara vez' 'Casi siempre'
 'Nunca']
La columna " qn6 " tiene valores:  [ 2.  1. nan]
La columna " texto_qn6 " tiene valores:  ['No' 'Si' 'Dato perdido']
La columna " qn10 " tiene valores:  [ 1.  2. nan]
La columna " texto_qn10 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " qn15 " tiene valores:  [ 2.  1. nan]
La columna " texto_qn15 " tiene valores:  ['No' 'Si' 'Dato perdido']
La columna " qn16 " tiene valores:  [ 2.  1. nan]
La columna " texto_qn16 " tiene valores:  ['No' 'Si' 'Dato perdido']
La columna " qn17 " tiene valores:  [ 2.  1. nan]
La columna " texto_qn17 " tiene valores:  ['No' 'Si' 'Dato perdido']
La columna " qn18 " tiene valores:  [nan  1.  2.]
La columna " texto_qn18 " tiene valores:  ['Dato perdido' 'Si' 'No']
La columna " qn19 " tiene valores:  [nan  2.  1.]
La columna " texto_qn19 " tiene valores:  ['Dato perdido' 'No' 'Si']
La columna " qn22 " tiene valores:  [ 1.  2. nan]
La columna " texto_qn22 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " qn23 " tiene valores:  [ 1.  2. nan]
La columna " texto_qn23 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " qn24 " tiene valores:  [ 1.  2. nan]
La columna " texto_qn24 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " qn25 " tiene valores:  [ 2.  1. nan]
La columna " texto_qn25 " tiene valores:  ['No' 'Si' 'Dato perdido']
La columna " qn26 " tiene valores:  [ 2.  1. nan]
La columna " texto_qn26 " tiene valores:  ['No' 'Si' 'Dato perdido']
La columna " qn27 " tiene valores:  [ 2.  1. nan]
La columna " texto_qn27 " tiene valores:  ['No' 'Si' 'Dato perdido']
La columna " qn28 " tiene valores:  [ 1. nan  2.]
La columna " texto_qn28 " tiene valores:  ['Si' 'Dato perdido' 'No']
La columna " qn29 " tiene valores:  [ 1.  2. nan]
La columna " texto_qn29 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " qn30 " tiene valores:  [nan  2.  1.]
La columna " texto_qn30 " tiene valores:  ['Dato perdido' 'No' 'Si']
La columna " qn31 " tiene valores:  [ 2. nan  1.]
La columna " texto_qn31 " tiene valores:  ['No' 'Dato perdido' 'Si']
La columna " qn32 " tiene valores:  [ 1.  2. nan]
La columna " texto_qn32 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " qn33 " tiene valores:  [ 1.  2. nan]
La columna " texto_qn33 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " qn34 " tiene valores:  [ 1. nan  2.]
La columna " texto_qn34 " tiene valores:  ['Si' 'Dato perdido' 'No']
La columna " qn35 " tiene valores:  [ 1.  2. nan]
La columna " texto_qn35 " tiene valores:  ['Si' 'No' 'Dato perdido']
La columna " qn36 " tiene valores:  [ 1. nan  2.]
La columna " texto_qn36 " tiene valores:  ['Si' 'Dato perdido' 'No']
La columna " qn37 " tiene valores:  [ 2. nan  1.]
La columna " texto_qn37 " tiene valores:  ['No' 'Dato perdido' 'Si']
La columna " qn38 " tiene valores:  [ 2.  1. nan]

In [33]:
tabla = {"Columna":[],"Valores":[]}
print(tabla)

{'Columna': [], 'Valores': []}